@inherits LayoutComponentBase

<TopBar />

<div class="container">
    <div class="columns">
        <div class="column is-2">
            <SideBar />
        </div>

        <div class="column is-10">
            @Body
        </div>
    </div>
</div>
