@inherits LayoutComponentBase

<div class="rz-layout">
    <Navbar />

    <div class="rz-body">
        <div class="rz-display-flex rz-row rz-align-items-normal rz-justify-content-normal rz-pt-6 rz-px-4 rz-px-sm-8 rz-px-xl-12" style="--rz-gap:2rem">
            <div class="rz-col-12">
                <div class="rz-display-flex rz-row rz-align-items-normal rz-justify-content-normal rz-mx-auto" style="max-width: 1600px;">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>

